################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/alterdata-voting-rest-api
/.vscode
/luafalcao.api.Domain/bin/Debug/netcoreapp3.1
/luafalcao.api.Domain/obj
/luafalcao.api.Facade/bin/Debug/netcoreapp3.1
/luafalcao.api.Facade/obj
/luafalcao.api.IntegrationTests/bin/Debug/netcoreapp3.1
/luafalcao.api.IntegrationTests/obj
/luafalcao.api.Persistence/bin/Debug/netcoreapp3.1
/luafalcao.api.Shared/bin/Debug/netcoreapp3.1
/luafalcao.api.Shared/obj
/luafalcao.api.Web/bin
/luafalcao.api.Web/obj
/luafalcao.api.Persistence/obj
/alterdata.api.Domain/bin/Debug/netcoreapp3.1
/alterdata.api.Domain/obj
/alterdata.api.Facade/bin/Debug/netcoreapp3.1
/alterdata.api.Facade/obj
/alterdata.api.IntegrationTests/bin/Debug/netcoreapp3.1
/alterdata.api.IntegrationTests/obj
/alterdata.api.Persistence/bin/Debug/netcoreapp3.1
/alterdata.api.Persistence/obj
/alterdata.api.Shared/bin/Debug/netcoreapp3.1
/alterdata.api.Shared/obj
/alterdata.api.Web/bin
/alterdata.api.Web/obj
/.vs/ALTERTADA_SVR_API/config/applicationhost.config
/.vs/ALTERTADA_SVR_API/v16/.suo
/.vs/ALTERTADA_SVR_API/DesignTimeBuild
/.vs/ALTERTADA_SVR_API/v16/TestStore/0
